<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ransomware</title>
    {% load static %}
</head>
<body style="background-image: url({% static 'images/coverpage.png' %});background-size: 1600px 650px; background-repeat: no-repeat;">
<br>
<br>
<br>
<!--<br>-->
<!--<h1 style="color:cyan;text-decoration: underline;">Ransomware Detection: ML Enhanced Behavioral Analysis & Proactive Treat Mitigation Strategies </h1>-->
<a style="float: right; font-size: 30px;color:lightyellow;" href="/login">Login </a>
<br/>
<br>


</body>
</html>